{% extends "base.html" %}

{% block content %}
  <a href="/">&larr; back to main page</a>

  <h1>About</h1>
  <p>This project was created as a part of Code For Fun event at JBS company.</p>
  <p>We are on <a href="https://github.com/apopelo/robobattleship">GitHub</a>.</p>

  <h2>Authors</h2>
  <ul>
    <li>Andrey Popelo</li>
    <li>Sergey Lysach</li>
  </ul>

  <h2>Support</h2>
  <p>Project was generously supported by:</p>
  <p><a href="http://jbs.com.ua/"><img src="/static/images/jbs-logo.png" width="190" height="82"/></a></p>
{% endblock %}
